/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: 'Times New Roman', Times, serif;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

   .content {
       padding-top: 50px;
       padding-bottom: 300px;
   }

   section {
    padding: 60px;
  }

  :root {
    --primary-color: gray;
    --secondary-color: pink;
    --tertiary-color: white;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }
  
  

/* homepage styling */

.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }

  .intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }

  .processs { 
    background: var(--primary-color);
  }
  
  .process {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .process:last-child {
    border-bottom: none;
  }
  
  .process h3 {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%;
  }
  
  .process-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .process-img {
    flex: 1 12%;
    margin-right: 20px;
  }
  
  .process-img img {
    max-width: 100%;
  }
  
  .process-text {
    flex: 12;
  }
  
  .process-text p {
    color: var(--tertiary-color);
    font-size: 18px;
  }
  
  .process-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
  }
  .developers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .developer {
    margin: 20px;
    flex: 1;
    background: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .developer img {
    width: 100%;
  }
  
  .developer-bio {
    padding: 25px;
    line-height: 1.3;
  }
  
  .developer-bio h3 {
    font-size: 28px;
  }
  
  .developer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .developer-bio p {
    font-size: 17px;
  }

  .git-link {
    color:  blue;
  }
/*login-signup styling*/

.links {
    color: var(--tertiary-color);
}

.login-signup {
    text-align: center;
    margin: 20px;
}

.login-signup h4 {
    font-size: 36px;
    color: black;
    margin: 10px;
    margin-top: 100px;
}

.form-input {
    padding: 20px;
    margin: 10px;
    background-color: var(--secondary-color);
    color: black;
}

.submit-button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid var(--tertiary-color);
    margin: 10px;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    background-color: var(--primary-color);
    text-align:center;
    transition: all 0.2s; 
    margin-bottom: 350px;
}

.submit-button:hover {
    color:var(--tertiary-color);
    background-color:gray;
}

/* page styling */

.page-title {
  color: white;
  background-color: gray;
  margin-left: 50px;
  margin-right: 50px;
  margin: 30px;
  text-align: center;
  font-size: 36px;
  padding: 20px;
  border-radius: 25px;
}

.gamepage {
    background: url('./images/videogame-background.jpg');
    background-size: cover;
    padding: 10px;
}

.blog-input {
  padding: 20px;
  margin: 10px;
  background-color: var(--tertiary-color);
  color: black;
}
.blog-form {
  text-align: center;
}

.blog-button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid var(--tertiary-color);
  margin: 10px;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:black;
  background-color: var(--primary-color);
  text-align:center;
  transition: all 0.2s; 
}

.no-thoughts {
  color: var(--tertiary-color);
  text-align: center;
  font-size: 36px;
}

.went-wrong {
  color: var(--tertiary-color);
  text-align: center;
  font-size: 24px;
}

.thoughts {
  background-color: gray;
  margin: 10px;
}

.text {
  margin: 20px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.username {
  margin: 5px;
  font-weight: bold;
}