/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: 'Times New Roman', Times, serif;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

   .content {
       padding: 400px;
   }

/* homepage styling */

.homepage {
    background-image: url('./images/videogame-background.jpg');
    background-size: cover;
}

.gamepage {
    background: url('./images/videogame-background.jpg');
    background-size: cover;
}

.musicpage {
    background-image: url('./images/music-background.jpg');
    background-size: cover;
}

.moviepage {
    background-image: url('./images/movie-background.jpg');
    background-size: cover;
}

.homepage-content {
 margin: 10px;
 color: #fff;
 padding-top: 50px;
 padding-bottom: 200px;
}

.homepage-content h4 {
    text-align: center;
    font-size: 36px;
}

.homepage-titles {
    border: black;
    border-style: solid;
    margin: 15px;
    background-color: pink;
}

.homepage-desc {
    background-color: gray;
    border-style: solid;
    border-color: black;
    color: white;
    font-size: large;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: black;
}

.home-text {
    margin: 20px;
    font-size: 20px;
}

/*login-signup styling*/

.links {
    color: #fff;
}

.login-signup {
    text-align: center;
    margin: 20px;
}

.login-signup h4 {
    font-size: 36px;
    color: black;
    margin: 10px;
    margin-top: 100px;
}

.form-input {
    padding: 20px;
    margin: 10px;
    background-color: pink;
    color: black;
}

.submit-button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin: 10px;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    background-color: gray;
    text-align:center;
    transition: all 0.2s; 
    margin-bottom: 350px;
}

.submit-button:hover {
    color:white;
    background-color:gray;
}